@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');

:root {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navToolbar {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navToolbar a {
  margin-left: 2em;
  color: white;
  text-decoration: none;
}