@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

:root {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}

/* PARALLAX */
/* 
.Parallax {

  &__bg {

    &__1 {}
    &__2 {}

  }

  &__grid {}

  &__content {}
  
} 
*/


/* Social Button */
.share, .share::before, .share::after, .fab {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.share {
  position: relative;
  opacity: 1;
}

.share::before, .share::after {
  content: '';
  will-change: animation;
}

.share::before {
  background-size: cover;
  background-image: url(https://avatars.githubusercontent.com/u/42502245?v=4);
  z-index: 3;
  transition: .3s;
}

.share::after {
  box-shadow: 0 2px 5px rgba(0,0,0, .3);
  z-index: 3;
  transition: .3s ;
}

.share.active::before { transform: rotate(540deg); }
/* .share.active::after { 
  
} */

.fab {
  box-shadow: 0 2px 5px rgba(0,0,0, .3);
  transition: .3s;
  animation: .3s down forwards;
  opacity: 0;
  display: none;
  will-change: animation;
}

.fab:nth-child(1) {
  background: #1DA1F2 url(https://cbwconline.com/IMG/Codepen/Twitter.svg) center/28px no-repeat;
  top: -190px;
}

.fab:nth-child(2) {
  background: #46629E url(https://cbwconline.com/IMG/Codepen/Facebook.svg) center/28px no-repeat;
  top: -125px;
}

.fab:nth-child(3) { background: #DB4437 url(https://cbwconline.com/IMG/Codepen/Google.svg) center/28px no-repeat; top: -60px;}

.fab.active { transform: translateY(-170%); opacity: 1; display: block;}

.fab.active:nth-child(1) { animation-delay: .3s ; }

.fab.active:nth-child(2) { animation-delay: .3s ; }

.fab.no { animation: none; }

@keyframes up {
  50% {
    transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    transform: translateY(-130%);
  }
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(-130%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
    top: 0;
  }
}