@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

:root {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
}

/* PARALLAX */
/* 
.Parallax {

  &__bg {

    &__1 {}
    &__2 {}

  }

  &__grid {}

  &__content {}
  
} 
*/

/* NAVBAR */
.navToolbar {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navToolbar .nav-item {
  margin-left: 1em;
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
	cursor: pointer;
}

.navToolbar .nav-item:hover {
  background-color: #09DBA9;
  transition: ease-in 0.2s;
}